FOCUS_Mule_applications/fsf-batch-1/Source_Code/src/main/resources/results-Batch.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Nov 16 2016 20:42:21 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="results">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="result" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="errors">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="fields" type="xs:string"></xs:element>
                                                               <xs:element name="message" type="xs:string"></xs:element>
                                                               <xs:element name="statusCode" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="success" type="xs:string"></xs:element>
                                             <xs:element name="created" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>