FOCUS_Mule_applications/fsf-batch-1/Source_Code/src/main/resources/results.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Nov 16 2016 19:57:15 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="results">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="result" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:string"></xs:element>
                                             <xs:element name="success" type="xs:string"></xs:element>
                                             <xs:element name="created" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>