FOCUS_Mule_applications/dhss-realtime/Source_Code/src/main/wsdl/DscyfService_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary">
  <xs:complexType name="AuthCredentials">
    <xs:sequence>
      <xs:element name="Password" nillable="true" type="xs:string"/>
      <xs:element name="Username" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthCredentials" nillable="true" type="tns:AuthCredentials"/>
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError"/>
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
      <xs:element name="ErrorType" type="tns:ErrorType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error"/>
  <xs:simpleType name="ErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Unavailable"/>
      <xs:enumeration value="AuthenticationError"/>
      <xs:enumeration value="DatabaseError"/>
      <xs:enumeration value="InvalidInput"/>
      <xs:enumeration value="NotFound"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorType" nillable="true" type="tns:ErrorType"/>
</xs:schema>