FOCUS_Mule_applications/dhss-realtime/Source_Code/src/main/wsdl/DscyfService_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary.Kids" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary.Kids">
  <xs:import schemaLocation="DscyfService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary"/>
  <xs:complexType name="DscyfReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="q1:ArrayOfError" xmlns:q1="http://schemas.datacontract.org/2004/07/Dhss.Ltcrp.Bcc.ServiceLibrary"/>
      <xs:element name="IsSuccessful" type="xs:boolean"/>
      <xs:element minOccurs="0" name="RequestReciept" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DscyfReturn" nillable="true" type="tns:DscyfReturn"/>
  <xs:complexType name="DscyfResultReady">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestID" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DscyfResultReady" nillable="true" type="tns:DscyfResultReady"/>
</xs:schema>